.local{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -2rem;
    padding-top: 0;
}

.local p{
    font-size: 1.5rem;
}

.local iframe{
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 4%;
    box-shadow: 0 .2rem 1rem var(--black);
}
