.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--blue);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 5px 5%;
    height: 75px;
}

.logo2{
    display: block;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    padding: 0.5rem;
    color: var(--white);   
    transition: color 0.3s;
}

.header .navbar a:hover {
    color: #253c5b;
}

#menu-btn {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--blue);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }
}